body,
p {
    margin: 0px;
}

/* 리셋 */

.modalDiv {
    display: none;
    transition: all 1s ease-in-out;
    /* display 속성은 transition 사용이 불가함 */
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: .5;
}

.modal {
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 50%;
    top: 25%;
    left: 25%;
    padding: 20px;
    border-radius: 14px;
}