/* Theme 스타일 작성 */
:root {
    --color-blue-600: #0096e4;
    --color-red-600: #e52330;
    --color-green-600: #c7cd1d;
    --color-gray-600: #c4c4c4;
    --color-white-600: #ffffff;
    --color-black-600: #181818;
}