/* 헤더 */
body,
head {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* ul 기본스타일 없앰 */
ul {
    list-style-type: none;
}

.header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

/* 로그인바 */
.header-zone {
    display: flex;
    background-color: var(--color-gray-300);
    margin: auto auto;
    width: 100%;
    /* border: 1px solid red; */
}

.header-list {
    padding: 0px;
    width: 100%;
    display: flex;
}

.header-list a {
    padding: 10px;
}

.login {
    margin-left: 33em;
}

.grid-zone {
    display: grid;
    width: 100%;
    grid-template-columns: .3fr .3fr 2fr .3fr .3fr;
    grid-template-rows: .5fr .5fr;
    grid-gap: 5px;
    grid-template-areas:
        "button-category header-title search-zone myCoupang cart"
        "button-category link-zone link-zone myCoupang cart";
}

/* logo */
.header-title {
    grid-area: header-title;
    width: 180px;
    height: 40px;
    background-image: url('../../assets/logo/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    text-indent: -8000px;
    /* 텍스트를 화면 밖으로 이동 */
    overflow: hidden;
    /* 화면 밖으로 이동한 텍스트를 숨김 */
}

/* 카테고리 영역 */
.category-zone {
    background-color: var(--color-blue-500);
    grid-area: button-category;
    position: relative;
    min-width: 120px;
}

.button--category {
    background-image: url(../../assets/icon/hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* 마우스 오버 시 커서를 포인터로 변경합니다. */
    margin-top: 30px;
    margin-left: 45px;
    /* border: 1px solid red; */
}

.button--category span {
    text-indent: -60px;
    display: block;
    width: 80px;
    margin-top: 30px;
    color: var(--color-white);
    /* border: 1px solid red; */
}

/* 검색영역 */
.search-zone {
    grid-area: search-zone;
}

.search-zone-align {
    border: 1px solid var(--color-blue-300);
    /* padding: 10px; */
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-category {
    position: absolute;
    appearance: none;
    /* 기본 브라우저 드롭다운 스타일 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 추가적인 사용자 정의 스타일 */
    width: 70px;
    height: 45px;
    left: 5px;
    /* margin: 5px; */
    border: none;
    border-right: 1px solid var(--color-gray-300);
}

.icon-dropdown {
    position: absolute;
    left: 40px;
    /* 위치 조정 */
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
    /* 클릭 이벤트 방지 */
}

.dropdown input {
    position: absolute;
    left: 80px;
    width: 300px;
    height: 45px;
    /* margin: 5px; */
    border: none;
    overflow: hidden;
    /* 텍스트가 버튼 밖으로 나가지 않도록 함 */
}

.search-button,
.voicesearch-button {
    position: absolute;
    top: 10px;
    width: 30px;
    /* 버튼의 너비, 필요에 따라 조정 */
    height: 30px;
    /* 버튼의 높이, 필요에 따라 조정 */
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    /* 배경 이미지의 크기, 필요에 따라 조정 */
    overflow: hidden;
    /* 텍스트가 버튼 밖으로 나가지 않도록 함 */
    text-indent: -9999px;
    /* 텍스트를 버튼 밖으로 밀어냄 */
    white-space: nowrap;
    /* 텍스트가 줄 바뀌지 않도록 함 */
    border: none;
    /* Remove border */
    box-shadow: none;
    /* Remove box shadow */
    background-color: white;
    padding: 0px;
}

.voicesearch-button {
    background-image: url('../../assets/icon/mic.svg');
    right: 30px;
}

.search-button {
    background-image: url('../../assets/icon/search.svg');
    right: 5px;
}

/* 마이쿠팡 영역 */
.myCoupang {
    grid-area: myCoupang;
    position: relative;
}

.mycoupang-button {
    background-image: url('../../assets/icon/my-coupang.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    /* 배경 이미지에 맞는 적절한 크기 조정 */
    height: 50px;
    /* 배경 이미지에 맞는 적절한 크기 조정 */
    border: none;
    cursor: pointer;
    position: relative;

    background-color: white;
    margin-top: 40px;
    margin-left: 10px;
}

.mycoupang-button-name {
    text-indent: -40px;
    display: block;
    width: 80px;
    margin-top: 50px;
}

/* 마이쿠팡 목록 기본 스타일 */
.coupnag-list {
    display: none;
    list-style: none;
    position: absolute;
    text-indent: -30px;
    margin: 20px 0 0 0;
    padding: 0px;
    left: -10px;
    border: 1px solid var(--color-gray-300);
}

.coupnag-list::after {
    content: "";
    position: absolute;
    top: -20px;
    /* 말풍선 아래쪽으로 조정 */
    left: 40%;
    /* 삼각형의 중앙 정렬을 위해 너비의 절반만큼 왼쪽으로 이동 */
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--color-white-100) transparent;
}

.coupnag-list li {
    width: 80px;
    margin: 10px;
    text-align: center;
}

/* is--active 클래스가 추가될 때 목록 보여짐 */
.myCoupang.is--active .coupnag-list {
    display: block;
    /* 보여짐 */
}

/* 장바구니 영역 */
.cart {
    grid-area: cart;
    position: relative;
}

.shopping-button {
    background-image: url('../../assets/icon/cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* 상품 개수 영역을 상대적으로 배치하기 위해 */
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-top: 40px;
    margin-left: 10px;
}

.shopping-button-name {
    text-indent: -40px;
    display: block;
    width: 80px;
    margin-top: 50px;
}



/* 상품 개수 영역 스타일 */
.select-product {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 5px;
    background-color: var(--color-blue-500);
    /* 배경 색상 */
    border-radius: 15px;
    /* 테두리 원형 */
    color: var(--color-white);
    /* 글자 색상 */
    padding: 5px 10px;
    /* 내부 여백 */
    font-size: 12px;
    /* 글자 크기 */
}

/* 장바구니 메시지 기본 스타일 */
.package {
    display: none;
    /* 기본적으로 숨김 */
    position: absolute;

    width: 300px;
    height: 100px;
    margin: 10px;
    left: -250px;
    text-align: center;
    padding-top: 40px;
    border: 1px solid var(--color-gray-300);
}

.package::after {
    content: "";
    position: absolute;
    top: -20px;
    /* 말풍선 아래쪽으로 조정 */
    right: 0;
    margin-right: 10px;
    /* 삼각형의 정렬 */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--color-white-100) transparent;
}

/* .cart--empty 클래스가 있을 때 메시지 보여주기 */
.cart.cart--empty .package {
    display: block;
    /* 보여짐 */
}

/* 링크 영역 */
.link-zone {
    grid-area: link-zone;
    margin: 0;
    padding: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.link-zone-list {
    padding: 5px;
    display: inline-block;
}